<html>
<script src="/static/external/jquery-1.6.4.min.js"></script>
<script src="/static/external/qunit.js"></script>
<script src="${ peerconnection_src }/peerconnection.js"></script>
<script src="${ test_src }/demo.js"></script>
</head>
<body>
<h3>ROAP Test</h3>

<style type="text/css">
  #local {    
   width:50%;
  }
  #remote {
    float: right;  
    width: 50%;
    left-margin: 50%;
  }   
</style>

<div id="logwindow">
</div>

  <div id="local">
    <video
     width="100%" height="100%" id="localVideo" autoplay="autoplay">
    </video>
  </div>
  <div id="remote">
    <video width="100%" height="100%" id="remoteVideo" autoplay="autoplay">
    </video>
  </div>
	

   <script>
    function WebRTCDemo(me, them, start) {
       var video = {};
       
       video.local = document.getElementById("localVideo");
       video.remote = document.getElementById("remoteVideo");

       new CallingClient(default_config, me, them, video, start);
     }
   </script>

</body>
</html>
