<html>
<script src="/static/external/jquery-1.6.4.min.js"></script>
<script src="/static/external/qunit.js"></script>
<script src="${ peerconnection_src }/peerconnection.js"></script>
<script src="${ test_src }/demo.js"></script>
</head>
<body>
<h3>ROAP Test</h3>

<style type="text/css">
  #local {    
    spacing: 4px;
    float: left;  
    width: 50%;
height: 50%;
    -webkit-transform: scale(-1, 1);
  }
  #remote {
    spacing: 4px;    
    float: right;  
    width: 50%;
height: 50%;
  }   

#logwindow{
height:50%;
overflow:scroll;
}
</style>
<div id="logwindow">
</div>

  <div id="local">
    Local
    <video
     width="100%" height="100%" id="localVideo" autoplay="autoplay">
    </video>
  </div>
  <div id="remote">
    Remote
    <video width="100%" height="100%" id="remoteVideo" autoplay="autoplay">
    </video>
  </div>
	

   <script>
    function WebRTCDemo(me, them, start) {
       var video = {};
       var cc;

       video.local = document.getElementById("localVideo");
       video.remote = document.getElementById("remoteVideo");

       cc = new CallingClient(default_config, me, them, video, function() {
           console.log("Calling client ready");
           if (start) {
             cc.startup();
           }
         });
       
       return cc;
     }
   </script>



</body>
</html>
